@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 2em;
}

.map-container {
  width: 100%;
  height: 75vh;
}

.score-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
  margin-bottom: 1em;
}

.score-container {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 600;
  margin-bottom: 1em;
}

.form-container {
  display: flex;
  justify-content: space-around;
  gap: 1em;
}


.button-container {
  border: none;
  background: red;
  padding: 0 36px;
  box-sizing: border-box;
  border-radius: 10px;
}

button:hover {
  background: gray;
}

svg {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
}

form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  background: wheat;
  padding: 8px 24px;
  border-radius: 8px;
  width: 80%;
  box-sizing: border-box;
  /* margin-bottom: 12px; */
  transition: all 120ms ease-in-out;
  justify-content: center;
}

.input-field {
  font-size: 16px;
  outline: none;
  border: none;
  background-color: inherit;
  color: #000;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 4px 0;
}

@media (max-height: 400px) {
  .map-container {
    height: 300px;
  }
}

@media (max-height: 700px) {
  .score-container {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .form-container {
    align-items: center;
    flex-direction: column;
    
  }
  .button-container {
    width: 80%;
  }
  form {
    width: 100%;
  }
  .map-container {
    height: 700px;
  }
  .score-container {
    flex-direction: column;
    align-items: center;
  }
  .score-form-container {
    height: 60%;
  }
}
